---
layout: default
---

<section class="banner grid-center" style="background-image:url({{page.banner_image}}">
  <div class="col-8-middle centered">
    <h1 class="big-bold editable">
      Recent Completed Projects
    </h1>
    <a href="/projects#projects" class="button-solid editable"> View projects</a>
  </div>
</section>

{{content}}

  <section id="projects" class="padded centered">
    <div class="grid padded-1">
      <div class="col-4_sm-6 padded-1">
        <a href="{{page.link-1}}">
          <div class="hover-container" style="background-image:url('{{page.photo-1_image}}')">
            <div class="hover-overlay">
              <div class="hover-inner">
                <h3> {{page.title-1}}</h3>
                <h4>{{page.place-1}}</h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-4_sm-6 padded-1">
        <a href="{{page.link-2}}">
          <div class="hover-container" style="background-image:url('{{page.photo-2_image}}')">
            <div class="hover-overlay">
              <div class="hover-inner">
                <h3>{{page.title-2}}</h3>
                <h4>{{page.place-2}}</h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-4_sm-6 padded-1">
        <a href="{{page.link-3}}">
          <div class="hover-container" style="background-image:url('{{page.photo-3_image}}')">
            <div class="hover-overlay">
              <div class="hover-inner">
                <h3>{{page.title-3}}</h3>
                <h4>{{page.place-3}}</h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-4_sm-6 padded-1">
        <a href="{{page.link-4}}">
          <div class="hover-container" style="background-image:url('{{page.photo-4_image}}')">
            <div class="hover-overlay">
              <div class="hover-inner">
                <h3>{{page.title-4}}</h3>
                <h4>{{page.place-4}}</h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-4_sm-6 padded-1">
        <a href="{{page.link-5}}">
          <div class="hover-container" style="background-image:url('{{page.photo-5_image}}')">
            <div class="hover-overlay">
              <div class="hover-inner">
                <h3>{{page.title-5}}</h3>
                <h4>{{page.place-5}}</h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-4_sm-6 padded-1">
        <a href="{{page.link-6}}">
          <div class="hover-container" style="background-image:url('{{page.photo-6_image}}')">
            <div class="hover-overlay">
              <div class="hover-inner">
                <h3>{{page.title-6}}</h3>
                <h4>{{page.place-6}}</h4>
              </div>
            </div>
          </div>
        </a>
      </div>
  </div></section>
