---
layout: default
---
<section class="grid-center light-bg photography-page capped-width padded-top">
  <div class="grid-center padded-top ">
      <div class="col-12 centered padded-05">
        <h1>{{page.location}}</h1>
      </div>
      <div class="col-12_xs-12 padded-05 centered">
        <h4 class="centered padded-top"> {{page.project-name}}</h4>
      </div>
  </div>
</section>

<section class="project-gallery grid centered capped-width">
  <!-- top three -->
  <a class="col-one-third padded-05" href="{{page.left-photo-link}}" data-fancybox="gallery">
    <div style="background-image:url({{page.left-photo}})" class="bg-image-portfolio one-third"></div>
  </a>

  <a class="col-one-third padded-05" href="{{page.middle-photo-link}}" data-fancybox="gallery">
    <div style="background-image:url({{page.middle-photo}})" class="bg-image-portfolio one-third"></div>
  </a>

  <a class="col-one-third padded-05" href="{{page.right-photo-link}}" data-fancybox="gallery">
    <div style="background-image:url({{page.right-photo}})" class="bg-image-portfolio one-third"></div>
  </a>
</section>

<section class="project-gallery grid centered capped-width one-time">
  <!-- big middle -->
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-image-1}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-image-2}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-image-3}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-image-4}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-image-5}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-image-6}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-image-7}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-image-8}})" class="bg-image-portfolio full-width"></div>
  </div>

</section>
