---
layout: default
---

<section class="grid-center light-bg photography-page capped-width padded-top">
  <div class="grid-center padded-top-projects ">
      <div class="col-12 centered padded-05">
        <h1 class="editable">
          Los Angeles, CA
        </h1>
      </div>
      <div class="col-12_xs-12 padded-05 centered">
        <h4 class="centered padded-top editable">
          2210 Ridge Drive
        </h4>
      </div>
  </div>
</section>

<section class="project-gallery grid centered capped-width">
  <!-- top three -->
  <a class="col-one-third padded-05" href="{{page.left-photo-link}}" data-fancybox="gallery">
    <div style="background-image:url({{page.left-photo_image}})" class="bg-image-portfolio one-third"></div>
  </a>

  <a class="col-one-third padded-05" href="{{page.middle-photo-link}}" data-fancybox="gallery">
    <div style="background-image:url({{page.middle-photo_image}})" class="bg-image-portfolio one-third"></div>
  </a>

  <a class="col-one-third padded-05" href="{{page.right-photo-link}}" data-fancybox="gallery">
    <div style="background-image:url({{page.right-photo_image}})" class="bg-image-portfolio one-third"></div>
  </a>
</section>

<section class="project-gallery grid centered capped-width one-time">
  <!-- big middle -->
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-1_image}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-2_image}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-3_image}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-4_image}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-5_image}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-6_image}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-7_image}})" class="bg-image-portfolio full-width"></div>
  </div>
  <div class="col-full-width padded-05">
    <div style="background-image:url({{page.full-8_image}})" class="bg-image-portfolio full-width"></div>
  </div>

</section>
